
          head {
            margin: 0px;
            font-family: latha;
            color: white;
            font-family: "Poppins", sans-serif;
            display: inline;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
          }

              @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


              
              .topnav {
                background-color: #333;
                overflow: hidden;
                margin: 0;
                padding: 0;
                position:absolute;
                top: 0;
                width: 100%;
              }

              .topnav .items {
                float: right;
                color: #f2f2f2;
                text-align: center;
                padding: 16.3px 15px;
                text-decoration: none;
                font-size: 17px;
                font-family: sans-serif;
              }
              
              /* Change the color of links on hover */
              .topnav .items:hover {
                background-color: #ddd;
                color: black;
              }
              
              /* Add a color to the active/current link */
              .topnav .items.active {
                background-color: #04AA6D;
                color: white;
              }

              .topnav .headings{
                float: right;
                background-color: #ddd;
                color: black;
                text-align: center;
                padding: 16.4px 20px;
                text-decoration: none;
                font-size: 17px;
                font-family: 'poppins', sans-serif;
              }

              
* {
  margin: 0;
  padding: 0;
}

body{
  font-family: latha;
  color: white;
  font-family: Garamond, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

@keyframes change{
  0%{
    background-position: 0 50%;
}

50%{
    background-position: 100% 50%;
}

100%{
    background-position: 0 50%;
}
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
}



.grid {
  display: grid;
  width: 114em;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;

  padding-top: 2cm;
}

.grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  top: 10cm;

  transition: 0.2s;
  height: fit-content; 
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: inherit;
}
a{
  
}

.card-content {
  padding: 3rem;
}

.card-header {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  width: 100%;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 80%;
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.card-btn a{ 
  text-decoration: none;
}

.card-btn span {
  margin-left: 0rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}

@media only screen and (max-width: 60em) {
  body {
    padding: 3rem;
  }

  .grid {
    grid-gap: 3rem;
  }
}