
    .container {
        height: 100vh;
        width: 100vw;
        max-height: 800px;
        max-width: 1280px;
        min-height: 600px;
        min-width: 1000px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
      }
      
      .topnav {
        background-color: #333;
        overflow: hidden;
        margin: 0;
        padding: 0;
        position:absolute;
        top: 0;
        width: 100%;
      }
      
      .topnav .items {
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 16.3px 15px;
        text-decoration: none;
        font-size: 17px;
        font-family: sans-serif;
      }
      
      /* Change the color of links on hover */
      .topnav .items:hover {
        background-color: #ddd;
        color: black;
      }
      
      /* Add a color to the active/current link */
      .topnav .items.active {
        background-color: #04AA6D;
        color: white;
      }
      .image{
        position: absolute;
        top: 0;
        left: 0;
      }
      
      .topnav .headings{
        float: right;
        background-color: #ddd;
        color: black;
        text-align: center;
        padding: 16.4px 20px;
        text-decoration: none;
        font-size: 17px;
        font-family: 'poppins', sans-serif;
      }
      
      h2{
        font-size: large;
        position: absolute;
      
      }
      .border {
        height: 369px;
        width: 290px;
        background: transparent;
        border-radius: 10px;
        transition: border 1s;
        position: relative;
      }
      .border:hover {
        border: 1px solid #fff;
      }
      .card {
        height: 379px;
        width: 300px;
        background: #808080;
        border-radius: 10px;
        transition: background 0.8s;
        overflow: hidden;
        background: #000;
        box-shadow: 0 70px 63px -60px #000;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
      
      a{
        text-decoration-line: none;
        color: black;
      }
      .card0 {
        background: url("https://i.ibb.co/cxyZcPt/21172245-Acp-KQXc8.jpg") center center no-repeat;
        background-size: cover;
        background-size: 400px;
      }
      .card0:hover {
        background: url("https://i.ibb.co/cxyZcPt/21172245-Acp-KQXc8.jpg") left center no-repeat;
        background-size: cover;
        background-size: 450px;
      }
      .card0:hover h2 {
        opacity: 1;
      }
      .card1:hover h3 {
        opacity: 1;
      }
      .card0:hover .fa {
        opacity: 1;
      }
      .card1 {
        background: url("https://i.ibb.co/0rv8kGB/21174012-Gd-LMd-Y2-A.jpg") center center no-repeat;
        background-size: 320px;
      }
      .card1:hover {
        background: url("https://i.ibb.co/0rv8kGB/21174012-Gd-LMd-Y2-A.jpg") left center no-repeat;
        background-size: 450px;
      }
      .card1:hover h2 {
        left: 0;
        opacity: 1;
      }
      
      .card1:hover h3 {
        opacity: 1;
      }
      .card1:hover .fa {
        opacity: 1;
      }
      .card2 {
        background: url("https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg") center center no-repeat;
        background-size: 300px;
      }
      .card2:hover {
        background: url("https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg") left center no-repeat;
        background-size: 600px;
      }
      .card2:hover h2 {
        opacity: 1;
      }
      
      .card2:hover .fa {
        opacity: 1;
      }
      h2, h3 {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #fff;
        color: gray;
        margin: 10px;
        opacity: 0;
        transition: opacity 1s;
      }
      .fa {
        opacity: 0;
        transition: opacity 1s;
      }
      .icons {
        position: absolute;
        fill: #fff;
        color: #fff;
        height: 130px;
        top: 226px;
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }
      
      
  
      
      body {
        background: url("https://i.ibb.co/zZGQ7My/photo-1601662528567-526cd06f6582-ixlib-rb-1-2.jpg") center center repeat;
        color: #99eeb4;
        color: pink;
        color: grey;
        height: 100vh;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      /* We set the position to relative so that we can stack a blurred pseudo element on top of the original text */
      
      span {
        position: relative;
        font-family: "Avenir Next", sans-serif;
        font-weight: 900;
        font-size: 88px;
        position: absolute;
        top: 3cm;
        text-transform: uppercase;
        font-style: italic;
        letter-spacing: 0.15em;
        display: inline-block;
      }
      
      
      
      span:before {
        position: absolute;
        left: 0;
        top: -50;
        content: attr(filter-content);
        filter: url(#motion-blur-filter);
      }
      
      
      
      svg {
        display: none;
      }