{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>About us</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel='stylesheet' href="{% static 'show_news/style1.css' %}" rel="stylesheet">
</head>
<body>

  <div class="topnav">
    <img class="image" src="https://i.ibb.co/wQpMnwR/logo.png" alt="logo" height = 52.5cm>
    <a class="items" href="{% url 'aboutus' %}">About Us</a>
    <a class="items" href="{% url 'show_news' %}">News</a>
    
  </div>

  <svg xmlns="http://www.w3.org/2000/svg">
  
  
    
      <filter id="motion-blur-filter" filterUnits="userSpaceOnUse">
        
  
        
          <feGaussianBlur stdDeviation="100 0"></feGaussianBlur>
      </filter>
  </svg>
  
  
  
  <span filter-content="S">Our Team</span>
    

<br><br>



<div class="container">
  <div class="card card0">
    <div class="border">
      <h2>Ansh Chadha</h2>
      <div class="icons">
        <a href="https://www.instagram.com/ansh_chadha_163/" class="fa fa-instagram" aria-hidden="true"></a>
        <a href="https://www.linkedin.com/in/ansh-chadha-659255b7/" class="fa fa-linkedin" aria-hidden="true"></a>
        <a href="https://twitter.com/iaintkidding_" class="fa fa-twitter" aria-hidden="true"></a>
        <a href="https://github.com/GeekyA" class="fa fa-github" aria-hidden="true"></a>
      </div>
    </div>
  </div>
  <div class="card card1">
    <div class="border">
      <h2>Verain Thakur</h2>
      <div class="icons">
        <a href="https://www.instagram.com/verainthakur/" class="fa fa-instagram" aria-hidden="true"></a>
        <a href="https://www.linkedin.com/in/verain-thakur-675a0920b/" class="fa fa-linkedin" aria-hidden="true"></a>
        <a href="https://github.com/verain1" class="fa fa-github" aria-hidden="true"></a>

      </div>
    </div>
  </div>
  
  
</body>
</html>
