{% load static %}

<!DOCTYPE <!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Showing news</title> 
        <div class="topnav">
          <!--<a class="heading" href="#" >News-Wati</a>-->
          <img src="https://i.ibb.co/bJRyHCT/logo-final.png" alt="logo" height = 52.5cm width= 130cm>
          <a class="items" href="{% url 'aboutus' %}">About Us</a>
          <a class="items" href="{% url 'show_news' %}">News</a>
          
        </div>       
    </head>
    <link rel='stylesheet' href="{% static 'show_news/style.css' %}" rel="stylesheet">
    <body>

  <div class="box">

    <div class="grid">
      {% if data %}
        {% for dpoint in data %}
          <div class="grid-item">
            <div class="card">
              <img class="card-img" src="https://i.ibb.co/GH7pCt5/4.png" alt="Oof" />
              <div class="card-content">
                      
                <p class="card-header">{{dpoint.title}}</p>
                      
                  <p class="card-text">
                  <strong>Source: {{dpoint.source}}</strong>
                  </p>    
                  
                  <a style="text-decoration:none;font-size:large" href={{dpoint.link}}>
                    <input class=card-btn type="button" value="Read more" />
                 </a>
                 
                
                  
              </div>
            </div>
          </div>  
        
      {% endfor %}
    {% endif %}
  </div>

  </div>

        
      
    </body>
</html>